<?xml version="1.0" ?>
<launch>
  <arg name="radius" default="0.25" />
  <arg name="height" default="0.1" />
  <arg name="max_range" default="4.5" />

  <arg name="resolution" default="0.1" />
  <arg name="depth_levels" default="16" />

  <arg name="cloud_topic" default="/camera/depth/points2"/>

  <!-- Depth parameters -->
  <arg name="insert_depth" default="0" />
  <arg name="clearing_depth" default="$(arg insert_depth)" />
  <arg name="publish_depth" default="4" />
  <arg name="collision_depth" default="$(arg insert_depth)" />
  <arg name="gain_depth" default="$(eval arg('collision_depth') + 1)" />

  <node pkg="nodelet" type="nodelet" name="ufoexplorer_nodelet_manager" args="manager" output="screen">
    <param name="num_worker_threads" value="12" />
  </node>

  <!-- Mapping -->
  <node pkg="ufomap_mapping" type="ufomap_mapping_server_node" name="ufomap_mapping_server_node" output="screen" required="true">
    <remap from="/cloud_in" to="$(arg cloud_topic)"/>

    <param name="multithreaded" value="true" />

    <param name="resolution" value="$(arg resolution)" />
    <param name="depth_levels" value="$(arg depth_levels)" />
    <param name="color_map" value="true"/>

    <param name="insert_depth" value="$(arg insert_depth)"/>
    <param name="simple_ray_casting" value="true"/>
    <param name="max_range" value="$(arg max_range)"/>

    <param name="prob_hit" value="0.85"/>
    <param name="prob_miss" value="0.45"/>

    <param name="clear_robot" value="false"/>
    <param name="robot_radius" value="$(eval arg('radius') + 0.15)"/>
    <param name="robot_height" value="$(eval arg('height') + 0.15)"/>
    <param name="clearing_depth" value="$(arg clearing_depth)"/>

    <param name="compress" value="false"/>
    <param name="update_part_of_map" value="true"/>
    <param name="update_rate" value="5.2"/>
    <param name="publish_depth" value="$(arg publish_depth)"/>
    <param name="pub_rate" value="0.0"/>
    <param name="map_queue_size" value="100" />

    <param name="verbose" value="false"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="image_to_points" args="load depth_image_proc/point_cloud_xyzrgb ufoexplorer_nodelet_manager" required="true">
    <remap from="rgb/camera_info" to="/camera/depth/camera_info" />
    <remap from="rgb/image_rect_color" to="/camera/rgb/image_raw" />
    <remap from="depth_registered/image_rect" to="/camera/depth/image_raw2" />
    <remap from="depth_registered/points" to="/camera/depth/points2" />

    <param name="queue_size" value="100" />
  </node>

  <node pkg="nodelet" type="nodelet" name="image_maxing" args="load image_maxing/ImageMaxingNodelet ufoexplorer_nodelet_manager" output="screen" required="true">
    <remap from="input" to="/camera/depth/image_raw" />
    <remap from="output" to="/camera/depth/image_raw2" />

    <param name="value" value="$(eval arg('max_range') + 0.5 + arg('resolution'))" />

    <param name="noise_mean" value="0.0024" />
    <param name="noise_stddev" value="0.0024" />
  </node>

</launch>